
 .modal-header{
  background:#222;
}
h4{
  color: #f1f1f1;
  font-size: 1.5rem;
}
.close{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s ease;
}
.close:hover{
  background: #ccc;
}
.submit
{
  background: #222;
  color: #f1f1f1;
}
